.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titel-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.item {
    background-position: center; 
    background-size: 50%;
    background-color: brown;
    border-radius: 12%;
    width: 32%;
    padding-bottom: 30%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
}

.item:hover {
    background-position: center; 
    background-size: 100%;
}