.vertical-container {
  display: flex;
  align-items: center;
}

.vertical-item {
  height: 100px;
  width: 100px;
  background-color: rgb(63, 206, 63);
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  
  .item {
    flex-grow: 1;
    height: 100px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
  }
  
  .item + .item {
    margin-left: 10%;
  }
  
  img{
    justify-content: center;
    align-items: center;
  }